/* general rules */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* header style */
header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.logo_image{
    width: 70px;
}

#logo{
    max-width: 100%;
}

#search{
    width: 80%;
    height: 50px;
    border-top-right-radius: 10px;
    background-color: #e5e5e5;
    border: none;
    outline: none;
}

::placeholder {
    opacity: 0.7; 
    color: rgba(0, 0, 0, 0.5);
}

.customize_search{
    height: 50px;
    border-radius: 10px;
    background-color: #e5e5e5;
    border: none;
}

.dekstop_header{
    display: none;
}

.fa-bell, .fa-ellipsis-vertical, .fa-question, .fa-list{
    font-size: 22px;
    cursor: pointer;
    margin-left: 20px;
}

#logo_dekstop{
    display: none;
}

/* main */
main{
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 100px;
}

aside{
    height:calc(100vh - 100px);
    width: 150px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    position: fixed;
    bottom: 0;
}

/* aside */

a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

ul{
    list-style: none;
}

.fa-house, .fa-chart-simple, .fa-signal, .fa-gear{
    font-size: 25px;
    margin-left: 30px;
}

.aside_tablet{
    display: none;
}

/* upper */

#upper{
    width: calc(100% - 150px);
    height: calc(100vh - 100px);
    margin-left: 150px;
    overflow: auto;
    background-color: #f8f9fa;
}

#orientation{
    height: 300px;
    background-color: #1b72e8;
}

/* orientation */

.fa-plus{
    color: white;
}

.margin_button{
    margin-left: 30px;
}

.btn, .btn-outline-light:hover .fa-plus{
    color:black ;
}

.text_orientation{
    color: white;
    font-size: 22px;
}

.text_orientation h2{
    font-weight: 700;
}

.customize_button{
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    color: white;
    padding: 0 10px;
    border-radius: 15px;
    font-size: 12px;
    margin:8px 8px 8px 0;
}

.dekstop_button{
    display: none;
}

/* TABLES */

/* next classes */
#tables{
    width: 100%;
    height: calc(100vh - 400px);
}


#tables h2{
    font-weight: 400;
}

.h2_border{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-right-radius:15px ;
    border-top-left-radius:15px ;
    padding: 10px 0 20px 15px;
    background-color: #f7f7f7;
}

th{
    font-weight: normal;
}

.name{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #f26551;
    margin-right: 5px;
}

.state{
    color: white;
    border-radius: 15px;
    width: 50px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
}

.green{
    background-color: green;
}

.yellow{
    background-color: #ffc107;
}

.red{
    background-color: red;
}

.border_grey{
    border: 1px solid #808080;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space_end{
    margin-bottom: 20px;
}

.table_border{
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding:20px 20px;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
}

.th_td_tablet{
    display: none;
}

/* faq */
.list-group-item{
    height: 50px;
}

.fa-solid{
    cursor: pointer;
}

.text_todo{
    font-size: 14px;
}

/* online users */

.stats_image{
    width: 100%;
}

.table_border_online_users{
    border: 1px solid #d2d2d2;
    border-radius: 15px;
    padding: 20px;
    background-color: #ffffff;
}

.table_border_online_users_son{
    border: 1px solid #d2d2d2;
    border-radius: 15px;
    background-color: #ffffff;
}

main a{
    text-decoration: underline;
    color: #287efc;
}

.title_list{
    height: 120px;
}

.title_list h3{
    font-size: 21px;
}





























/* MEDIA QUERY */

@media screen and (min-width:768px) {
    .aside_tablet{
        display: inline-block;
    }

    .fa-house, .fa-chart-simple, .fa-signal, .fa-gear{
        width: 40px;
        margin-left: 0;
    }

    .th_td_tablet{
        display: table-cell
    }
}
@media screen and (min-width:992px) {
    .dekstop_header{
        display: flex;
    }

    #logo{
        display: none;
    }

    #logo_dekstop{
        display: flex;
    }
    .logo_image{
        width: 100%;
    }

    .dekstop_button{
        display: inline-block;
    }
}




